body {
  font-family: sans-serif;
  text-align: center;
  width: 75%;
  margin-left:auto;
   margin-right:auto;
}

.header {
  text-align: center;
}

table.center {
  margin-left:auto;
  margin-right:auto;
  text-align: left;
}

div.center {
  justify-content: center;
  display: flex;
  text-align: left;
}

.underConstruction {
  display: block;
  margin: 0 auto;
  width: 50%
 }

 textarea {
   width: 50%;
   height: 200px;
 }

 div.description {
   width: 75%;
   margin-left:auto;
   margin-right:auto;
   text-align: left;
 }