body {font-family: sans-serif;}

.header {text-align: center;}

.underConstruction {  display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 50%}