<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: page-header"></div>

<p>Number of jobs currently in the system: <span th:text="${count}" />.</p>
<div class="center">
    <ul>
        <th:block th:each="job: ${jobs}">
            <li>
                <span th:text="${job.companyName}"></span>
                <span> - </span>
                <span th:text="${job.jobTitle}"></span>
                <a href="@${job.id} + '/edit}" th:text="${job.jobReqNumber}"></a>
            </li>
        </th:block>
</ul>
</div>
</body>
</html>