<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: page-header"></div>
<p>This application will allow users to add jobs applied for and track the status throughout the application and
    interview process. User will be able to search and view jobs by Company Name, Job Req Number or Job Status to
    start.
</p>
<p>Stretch goals: Add secure registration and login page to allow for different users to access platform and only
    manage their own jobs. Reformat for mobile use. Allow for more customizable searches. Ability to export search
    results to PDF or Excel file.
</p>
<br/>
<div>Job data consists of the following information:</div>
<div class="center">
    <ul>
        <li>Date Applied</li>
        <li>Company Name</li>
        <li>Position Title</li>
        <li>Job Req Number</li>
        <li>Salary</li>
        <li>Job Status</li>
        <li>Job Description & Notes</li>
    </ul>
</div>
<br/>
<p>Reason for Creation:<br>
    As a current IT Recruiter, I work with a lot of people who are unable to consistently track the companies they have
    applied to, let alone the details such as date applied and specific job req number. This portal will not only allow
    users to track and manage these jobs throughout the application lifecycle, but export selected information to any
    recruiters they are working with to reduce likelihood of duplicate job submissions. <br>
</p>
</body>
</html>